<nav class="nav-wrapper">
    <div class="nav">
        <div class="sub-navs">
            <div class="sub-btn"><a href="/" class="s">Astronomy App</a></div>
            <div class="sub-btn"><a href="#">Acerca de</a></div>
            <div class="sub-btn"><a href="contacto">Contacto</a></div>
            <div class="sub-btn"><a href="#">Involucrate</a></div>
            <div class="sub-btn"><a href="donar">Donar</a></div>
        </div>
    </div>
</nav>