<!DOCTYPE html>
<html>
    <head>
        <title>Aprende Astronomia GT</title>
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/nav') %>
        <%- body%>
    </body>
</html>