/*fix the body*/
:root {
    --titles-font-one: 'Bowlby One SC', cursive;
    --titles-font-two: 'Bungee', cursive;
    --font-check1: 'Share Tech Mono', monospace;

    --color-links-nav: #86bbb8;
    --color-background-nav: #060c0d;
    --color-links-hover: #9bdfd2;

    --color-paragrahs: #a7a9be;
}
body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--color-background-nav);
    font-family: var(--font-check1);
    color: var(--color-links-nav);
}
#api {
    position: none;
    z-index: 1;
}
#api > img {
    width: 100%;
    object-fit: cover;
    height: 100vh;
}
.wrapper {
    position: relative;
    z-index: 0;
    margin-top: -175px;
    
}
.shapeId01 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    
}

.shapeId01 svg {
    position: relative;
    display: block;
    width: calc(113% + 1.3px);
    height: 175px;
    
}

.shapeId01 .shape-fill {
    fill: var(--color-background-nav);
    
}
/*LOGO*/

.logo {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
}
.logoContainer {
    position: relative;
    margin: 11% 0 0 0;
}
.logoContainer > img {
    display: inline;
    margin: 0 0 0 6%;
}
.logoContainer > h4 {
    order: 2;
    flex: 1 1 auto;
    margin: 0 2% 0 10%;
    text-align: center;
    color: var(--color-links-nav);
}